.navbarstyle .navbar{
    font-family: 'Poppins', sans-serif;
    background-color: #0E1117;
    height: 100px;
}

.navbarstyle .navbar .navbar-brand{
    font-weight: 900;
    color: #26AB5E;
}

.navbarstyle .navbar .nav-item .nav-link{
    color: #fff;
}

.navbarstyle .navbar .nav-item .nav-link:hover{
    color: #fff;
}