{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/disease.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>WEGA : : Disease</title>
  </head>
  <body style="background-color: #0e1117">
    <div class="navbarstyle">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <h6 class="navbar-brand">W E G A N</h6>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="../">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="container-fluid uploadImage">
      <div class="container">
        <div class="wrapper">
          <div class="image"><img id="img" /></div>
          <div class="content">
            <div class="icon">
              <i class="fas fa-cloud-upload-alt"></i>
            </div>
            <div class="text">No file chosen, yet!</div>
          </div>
          <div id="cancel-btn">
            <i class="fas fa-times" type="reset"></i>
          </div>
          <div class="file-name">File name here</div>
        </div>
        <form>
          <input accept="image/*" id="default-btn" type="file" hidden />
          <label id="custom-btn" for="default-btn"> Choose a file </label>
          <button type="button" onclick="init()" id="custom-btn">
            CLASSIFY
          </button>
        </form>
        <p id="diseaseName"></p>
        <button type="button" onclick="solution()" id="custom-btn">
          SOLUTION
        </button>
        <h3 id="solutionHead"></h3>
        <p id="solutionDesc"></p>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script>
      const wrapper = document.querySelector(".wrapper");
      const fileName = document.querySelector(".file-name");
      const defaultBtn = document.querySelector("#default-btn");
      const customBtn = document.querySelector("#custom-btn");
      const cancelBtn = document.querySelector("#cancel-btn i");
      const img = document.querySelector("img");
      let regExp = /[0-9a-zA-Z\^\&\'\@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
      function defaultBtnActive() {
        defaultBtn.click();
      }
      defaultBtn.addEventListener("change", function () {
        const file = this.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function () {
            const result = reader.result;
            img.src = result;
            wrapper.classList.add("active");
          };
          cancelBtn.addEventListener("click", function () {
            img.src = "";
            wrapper.classList.remove("active");
          });
          reader.readAsDataURL(file);
        }
        if (this.value) {
          let valueStore = this.value.match(regExp);
          fileName.textContent = valueStore;
        }
      });
    </script>

    <script type="text/javascript">
      // More API functions here:
      // https://github.com/googlecreativelab/teachablemachine-community/tree/master/libraries/image

      // the link to your model provided by Teachable Machine export panel
      const URL = "https://teachablemachine.withgoogle.com/models/Kc9Bxm2We/";

      let model, webcam, labelContainer, maxPredictions;

      // Load the image model and setup the webcam
      async function init() {
        const modelURL = URL + "model.json";
        const metadataURL = URL + "metadata.json";

        model = await tmImage.load(modelURL, metadataURL);
        maxPredictions = model.getTotalClasses();

        const a = document.getElementById("img");
        console.log(a);
        // predict can take in an image, video or canvas html element
        const prediction = await model.predict(a);
        var b = [];
        var c = [];
        for (let i = 0; i < maxPredictions; i++) {
          const className = prediction[i].className;
          const classPrediction = prediction[i].probability.toFixed(2);
          b.push(parseFloat(classPrediction));
          c.push(className);
        }
        d = Math.max(...b);
        e = b.indexOf(d);
        console.log(c[e], d + "%");
        (document.getElementById("diseaseName").textContent = c[e]), d + "%";
      }
    </script>
    <script type="text/javascript">
      function solution() {
        var b = "Solution";
        document.getElementById("solutionHead").textContent = b;
        var a = document.getElementById("diseaseName").textContent;
        if (a === "Grape is healthy") {
          var grapehealthy = "Your plant is healthy! :)";
          document.getElementById("solutionDesc").textContent = grapehealthy;
        } else if (a === "Grape with Black_rot") {
          var grapeblackrot =
            "Lime sulfur sprays can manage the trio of pathogens that cause black measles. Prevention is key when dealing with grape black rot. During your fall clean-up, make sure that all mummies have been removed from the vine and all plant material on the ground below is destroyed. Prune out any and all areas with lesions; grapevines can handle a severe pruning — when in doubt, cut it out. If leaves appear the following spring with new lesions, remove these immediately and start a spray treatment program with fungicides";
          document.getElementById("solutionDesc").textContent = grapeblackrot;
        } else if (a === "Pepper,_bell___healthy") {
          var pepperhealthy = "Your plant is healthy! :)";
          document.getElementById("solutionDesc").textContent = pepperhealthy;
        } else if (a === "PepperBell with Bacterial_spot") {
          var pepperbad =
            "The primary management strategy of bacterial spot begins with use of certified pathogen-free seed and disease-free transplants. The bacteria do not survive well once host material has decayed, so crop rotation is recommended. Once the bacteria are introduced into a field or greenhouse, the disease is very difficult to control.";
          document.getElementById("solutionDesc").textContent = pepperbad;
        } else if (a === "Tomato is healthy") {
          var tomatohealthy = "Your plant is healthy! :)";
          document.getElementById("solutionDesc").textContent = tomatohealthy;
        } else if (a === "Tomato with Early_blight") {
          var tomatobad =
            "For best control, apply copper-based fungicides early, two weeks before disease normally appears or when weather forecasts predict a long period of wet weather. Alternatively, begin treatment when disease first appears, and repeat every 7-10 days for as long as needed.";
          document.getElementById("solutionDesc").textContent = tomatobad;
        } else{
            document.getElementById("solutionDesc").textContent = "Plant not in database";
        }
      }
    </script>
  </body>
</html>
